<%- include header %>
	<!--<script type="text/html" id="tpl_button">-->
	<div class="page">
	    <div class="page-hd">
		<h1 class="page__title">Button</h1>
	    </div>

	    <div class="page__bd page__bd_spacing">
		<a href="#" class="weui-btn weui-btn_primary">homepageact</a>
		<a href="#" class="weui-btn weui-btn_primary weui-btn_loading">homepageact loading</a>
		<a href="#" class="weui-btn weui-btn_primary weui-btn_disabled">homepageact disabled</a>
	        <div class="btn-sp-area">
		    <a href="#" class="weui-btn weui-btn_plain-default">button</a>
		    <a href="#" class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">button</a>
		    <a href="#" class="weui-btn weui-btn_plain-primary">button</a>
	        </div>
	    </div>
	    <div class="page__ft">
		<a href="javascript:home()"><img src="./images/icon_footer_link.png"/></a>
	    </div>
	</div>
	<!--</script>-->
<%- include footer %>
